<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     {% if title %}
        <title>{{ title }} - blog</title>
        {% else %}
        <title>welcome to esp's blog</title>
        {% endif %}
    </head>
    <body>
        <h1>Hello, there!</h1>
        {% for filename in fileList %}
            <br><a href="{{ url_for('show', name=filename) }}">{{ filename }}</a>
        {% endfor %}
        <br> <a href="{{ url_for('upload') }}">uploading a new post</a>
    </body>
</html>
